html,
body {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}
canvas {
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  border: 3px solid #eb0000;
}

button {
  position: absolute;
  width: 150px;
  height: 50px;
  font-size: 1.2em;
  background: white;
  border: 2px solid red;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

button:active {
  background: rgb(200, 200, 200);
}
